.about{
    height: 60vh;
    background-image: url(../img/about_back.jpg);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content-wrapper{
        background-color: white;
        width: 60%;
        padding: 4rem;

        @include respond(tab-port){
            width: 80%;
        };
    }
    &__heading{
        font-size: 5rem;
        text-transform: uppercase;
        color: darkgrey;
    }
    &__line{
        margin: 2rem auto 4rem auto;
        width: 5%;
        border-bottom: .3rem solid lightgrey;
    }
    &__text{
        font-size: 1.2rem;
        color: darkgrey;
    }
}
